@import url('https://fonts.googleapis.com/css2?family=El+Messiri&family=Fira+Sans+Condensed:ital,wght@0,400;1,200&family=Prompt:wght@200;400;500&display=swap');

/*COLOR PALLETE*/
$blueClear: rgb(224, 244, 255);
$black: #0f0e0e;
$kingBlue: rgb(5, 5, 95);
$bluegreen: #08949e;
$colorbody: #f2fcfe;
$colorBrown: #3a2929;


$primaryFont: 'Fira Sans Condensed', sans-serif;
$secundaryFont: 'El Messiri', sans-serif;
